# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
eggs/
lib/
sdist/
*.egg-info/
*.egg

# Unit test / coverage reports
testcoverage/
.tox/
.coverage
